{% extends "members/base.html" %}
{% block content %}
<div data-role="content" data-theme="a" class="ui-body ui-corner-all ui-overlay-shadow">

<h1>About the Club</h1>

<h2>Our Mission</h2>
<p>The goal of the Mobile App Developers (MAD for short) is to design and build mobile applications that will benefit the students of the University of Maryland. Members will learn all the processes of app development. Members will need no previous knowledge of app development, only a willingness to learn about this exciting field. Members will also get the opportunity to learn and network with professionals in the field.</p>


<h2>Membership and Eligibility Criteria</h2>
<p>Mobile App Developers does not restrict membership or discriminate on the basis of race, color, creed, sex, sexual orientation, gender identity, gender expression, marital status, personal appearance, age, national origin, political affiliation, physical or mental disability, or on the basis of rights secured by the First Amendment of the United States Constitution. For definitions of personal appearance and sexual orientation see the University's Code of Human Relations.</p>


<h2>Our History</h2>
<p>We founded this group in January 2012 with all the goals mentioned above. When we first began, we knew that mobile development was a growing industry. We hoped to show our members the benefits of leaning these skills, outside of a classroom environment. All of our professors have stressed that in order to really learn the art of Computer Science, a student must practice on his or her own time. We hope to bring the same passion and enthusiasm that we have for mobile programming to our members.</p>

</div>
</br>
<div data-role="content" data-theme="a" class="ui-body ui-corner-all ui-overlay-shadow">

<h3>Contact Info</h3>
<ul data-role="listview" data-inset="true">
<li><a href="mailto:mobileappdevelopersclub@gmail.com">Email Us: mobileappdevelopersclub@gmail.com</a></li>
<li><a href="https://twitter.com/MADterps" class="ui-btn">Twitter</a></li>
<li><a href="https://www.facebook.com/groups/199304320170566/" class="ui-btn">Facebook</a></li>
<li><a href="https://orgsync.com/64367/chapter" class="ui-btn">OrgSync</a></li>
</ul>

</div>


</br></br>
{% endblock %}