{% extends "members/base.html" %}
{% block content %}
<div data-role="content" data-theme="{{ theme }}" class="ui-body ui-corner-all ui-overlay-shadow">
<h1>Apps</h1>

<div data-role="controlgroup" data-type="vertical">
      <a href="#finalsapp" data-rel="popup" data-position-to="window" class="ui-btn">Finals App</a>
      <a href="#shellp" data-rel="popup" data-position-to="window" class="ui-btn">Shellp</a>      
      <a href="#triviaapp" data-rel="popup" data-position-to="window" class="ui-btn">UMD Trivia</a>

</div>

<div data-role="popup" id="finalsapp"> 
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="https://lh4.ggpht.com/Vt38fg8EH4KPX3p9zNxqRm2zhBmlXxbLAJ1D32OvWAUPiD6Chz8NgItVSrKNtD-fLywt=w300-rw" alt="Finals App!">
      <p>This is the Finals App used to keep track of your final schedule. There are food specials and events listed as well as final times for classes.  This app was started in Fall of 2013 and was updated in Spring of 2014</p>
      <a href="https://play.google.com/store/apps/details?id=com.mobileappdevelopersclub.finals_app&hl=en
" class="ui-btn">Google Play Link</a>
</div>

<div data-role="popup" id="shellp"> 
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="https://lh6.ggpht.com/WHbOUUB27kg-npnSvdQcpif5hsLN7ufu0RmfvwGaQBiaUoyDaYTwvHKfWyFpuxoa-PIB=w300-rw" alt="Shellp">
      <p>This app was intented to be a handheld version of TerpNav.  It has College Park weather data and in the future will be able to route you to all your class on a certain day.</p>
      <a href="https://play.google.com/store/apps/details?id=com.mobileappdevelopersclub.shellp&hl=en" class="ui-btn">Google Play Link</a>
</div>

<div data-role="popup" id="triviaapp">
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="https://lh6.ggpht.com/lydVllhobNnoi3wvnQsOnhdyC4eJO8KT3yARXHR8n0qeBrKjvTT29bMVMTT-EFNRCG8=w300-rw" alt="UMD Trivia!">
      <p>This is the first app that the club produced. Learn about campus by taking the triva quiz</p>
      <a href="https://play.google.com/store/apps/details?id=vinnie.vendemia.namespace&hl=en" class="ui-btn">Google Play Link</a>
</div>


</div>
{% endblock %}