{% extends "members/base.html" %}
{% block content %}
<div data-role="content" data-theme="a" class="ui-body ui-corner-all ui-overlay-shadow">

<h1>Apps</h1>


<a href="#myPopup" data-rel="popup" data-position-to="window" class="ui-btn">Finals App</a>


<div data-role="popup" id="myPopup"> 
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="https://lh4.ggpht.com/Vt38fg8EH4KPX3p9zNxqRm2zhBmlXxbLAJ1D32OvWAUPiD6Chz8NgItVSrKNtD-fLywt=w300-rw" alt="Finals App!">
      <p>This is the Finals App used to keep track of your final schedule. There are food specials and events listed as well as final times for classes.  This app was started in Fall of 2013 and was updated in Spring of 2014</p>
      <a href="https://play.google.com/store/apps/details?id=com.mobileappdevelopersclub.finals_app&hl=en
" class="ui-btn">Google Play Link</a>
</div>


</div>
{% endblock %}