{% extends "members/base.html" %}
{% block content %}
<div data-role="content" data-theme="a" class="ui-body ui-corner-all ui-overlay-shadow">
<h1>Mobile App Developers Club</h1>
<p>Welcome to the home site of the University of Maryland Mobile Application Developers Club.  Use the Navigation bar in the head banner to browse the site.  This site is created with Django, a python web framework, and jQuery Mobile in order to render well on all device browsers.  We try to develop applications that are supported by all mobile platforms.  Our goal is to motivate UMD students about developing for mobile platforms and create applications that will benefit students on campus.</p>
</div>
</br>

<div data-role="content" data-theme="a" class="ui-body ui-corner-all ui-overlay-shadow">
<h2>Current Officers</h2>

</div>
</br>

<div data-role="content" data-theme="a" class="ui-body ui-corner-all ui-overlay-shadow">
<h2>Founding Members</h2>
<div class="ui-grid-c ui-responsive">

<div class="ui-block-a">
<img  HEIGHT=150 WIDTH=150 src="https://scontent-b-ord.xx.fbcdn.net/hphotos-xpa1/t1.0-9/935273_675046492516129_223107768_n.jpg" alt="Vinnie">
<a href="https://www.facebook.com/vinnie.vendemia?fref=ts" class="ui-btn ui-corner-all ui-shadow">First President: Vinnie Vendemia</a><br>
<span></span>
</div>

<div class="ui-block-b">
<img  HEIGHT=128 WIDTH=192 src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xpa1/t1.0-9/1450855_10202326070338001_1964859196_n.jpg" alt="Vinnie">
<a href="https://www.facebook.com/Bori.d.1st?fref=ts" class="ui-btn ui-corner-all ui-shadow">First Vice President: Bori Oludemi</a><br>
<span></span>
</div>

<div class="ui-block-c">
<img  HEIGHT=151 WIDTH=113 src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xaf1/t1.0-9/230731_6858706593_4919_n.jpg" alt="Vinnie">
<a href="https://www.facebook.com/Ely.shamouilian?fref=ts" class="ui-btn ui-corner-all ui-shadow">First Treasurer: Ely Shamouilian</a><br>
<span></span>
</div>

<div class="ui-block-d">
<img HEIGHT=240 WIDTH=160 src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/422847_10150563508266497_211262774_n.jpg?oh=1ee6251300ded055619669566e4b1fe8&oe=5468AC36&__gda__=1416788993_f42bddcb1fa7629a5c0c1697b05ac873" alt="Vinnie">
<a href="https://www.facebook.com/dylan.zingler" class="ui-btn ui-corner-all ui-shadow">First Lead Developement Officer: Dylan Zingler</a><br>
<span></span>
</div>
</div>

</div>
</br>




{% endblock %}